*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --black: #000;
    --white: #fff;
}

.navbar{
    width: 100%;
    min-height: 100px;
    background-color: var(--black);
    color: var(--white);
}
.navList{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navItem{
    padding: 30px;
    border-bottom: none;
}
.navItem:hover{
    border-bottom: 1px solid var(--white)
}
.navLink{
    text-decoration: none;
    color: var(--white);
}